<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'loginstyle.css' %}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

	<title>Login</title>
</head>
<body>
	
	

	<div class="login-wrap">
		<div class="login-html">

			<div id="tab">
                <img src="{% static 'assets/V.png' %}" height="50px">
                <h3>Visual Diary</h3>
            </div>
			<div class="login-form">
				<div class="sign-in-htm">
					<div class="group">
						<input id="mail" type="email" class="input" placeholder="Email">
					</div>
					<div class="group">
						<input id="fullname" type="text" class="input" placeholder="Full Name">
					</div>
					<div class="group">
						<input id="user" type="text" class="input" placeholder="Username">
					</div>
					<div class="group">
						<input id="pass" type="password" class="input" data-type="password" placeholder="Password">
					</div>
					<div class="group">
						<input id="cpass" type="password" class="input" data-type="password" placeholder="Confirm Password">
					</div>
					<div class="group">
						<input type="submit" class="button" value="Sign Up">
					</div>
					<hr>
					<div class="foot-lnk">
						<h5>Have an account? <a href="login.html">Log In</a></h5>
					</div>
					</div>
				</div>
			</div>
		</div>



	
</body>
</html>